.venv/
testdata/
traindata/
recordings/
/dataset
/model
data/
.png
__pycache__/
*.png
*.wav

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
